.homeIntro-wrapper {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;

}

.homeIntro-wrapper_section {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    font-family: 'Be Vietnam Pro';
    height: 85%;
    width: 85%;
    clip-path: circle();


}

.homeIntro-wrapper_section_h1 {
    color: whitesmoke;
    width: 500px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.homeIntro-wrapper_section_p {
    color:whitesmoke;
    font-size: medium;
    /* height: 150px; */
    width: 500px;
    /* word-break: break-all; */
    hyphens: auto;
    text-align: justify;
    margin-bottom: 30px;
}

.homeIntro-wrapper_section_button {
    color: whitesmoke;
    font-family: 'Be Vietnam Pro';
    font-size: large;
    padding: 8px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;

}

@media (max-width: 780px) {
    .homeIntro-wrapper_section_h1 {
        width: 200px;
        font-size: large;
    }
    .homeIntro-wrapper_section_p {
        width: 200px;
        font-size: small;
    }
    .homeIntro-wrapper_section_button {
        font-size: medium;
    }
}