.navigation-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100vw;
    height: 52px;
    background-color: rgba(0,0,0,1);
}

.navigation-bar_ul {
    
    display: flex;
    height: 100%;
    list-style: none;
    justify-content: center;
    align-items: flex-end;


}

.navigation-bar_ul_li {
    color: whitesmoke;
    margin: 10px;
    font-family: "TT Lakes Neue Extended";
    font-size: small;
    user-select: none;

}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: small;

}


.logo {
    color: whitesmoke;
    margin: 10px 10px 10px 15px;
    font-family: "TT Lakes Neue Extended";
    font-size: medium;
    user-select: none;
}