.navigation-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100vw;
    height: 8vh;
    background-color: rgba(0,0,0,1);
}

.navigation-bar_logo {
    color: whitesmoke;
    margin: 10px 10px 10px 15px;
    font-family: "Be Vietnam Pro";
    font-weight: 600;
    font-size: 18px;
    user-select: none;
}

.navigation-bar_burger {
    display: none;
    text-align: center;
    font-size: 0px;
    margin: 15px;
    background-color: black;
}

.navigation-bar_menu-bar {
    fill: whitesmoke;
}

@media (max-width: 780px) {
    .navigation-bar_burger {
        display: block;
    }
}