.navigation-menu-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    z-index:10;
}

.navigation-menu-wrapper-list {
    width: 100%;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.navigation-menu-wrapper-list_li {
    color:whitesmoke;
    font-family: "Be Vietnam Pro";
    font-size: medium;
    margin: 20px;

}