.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* grid-template-columns: 100%; */
    overflow: hidden;
    min-height: 80vh;

}

.main_header {
    grid-row: 1/2;
    grid-column: 1/2;
}

.main_body {
    display: flex;
    grid-row: 2/3;
    grid-column: 1/2 ;
    /* background-image: url(../../public/grass-court-main-optimized.jpg); */
    background-position: center;
    background-size: cover;
    overflow-x:auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;

}

.main_body::-webkit-scrollbar {
    display: none;
}

