.landing {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;

}

.landing_body{
    display: flex;
    flex-direction: column;
    font-family: "Be Vietnam Pro";
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 28px;
    text-align: center;

}

.landing_button {
    color: whitesmoke;
    background-color: transparent;
    font-family: "Be Vietnam Pro";
    font-size: 18px;
    margin: 30px;
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}