.team {
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    background-color: transparent;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y proximity;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.team::-webkit-scrollbar {
    display: none;
}

@media (max-width: 780px) {
    .team{
        height: auto;
        width: auto;
    }
}