* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  
}

body {
	display: block;
	background-color: black;
	overflow: hidden;
}

@font-face {
	font-family: "TT Lakes Neue Extended";
	src: 
		url("./fonts/TTLakesNeueExt-Medium.ttf");
		font-weight: 200;
}

@font-face {
	font-family: "Be Vietnam Pro";
	src: 
		url("./fonts/BeVietnamPro-ExtraLight.ttf");
		font-weight: 200;
}